html, header, body {
    background-color: #f4e2be;
    font-family: 'Noto Sans', sans-serif;
}

header {
    color: gray;    
}

hr {
    background: gray;
    height: 2px;
}

i.cal {
    position: relative;
    top: 4px;
}

i.disk {
    position: relative;
    top: 4px;
}

span.input-group-text {
    background-color: white;
}